<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista zadań</title>

    <div th:replace="fragments :: css-style"></div>

</head>
<body>
<div th:replace="fragments :: header"></div>
<h2 style="text-align: center">Lista wszystkich zadań</h2>

<div style="width: 100%; max-width: 1000px; margin: auto">
    <ul class="list-group">
        <li class="list-group-item" th:each="t: ${tasks}">
            <span th:text="${t.name}"><br></span>
            <span th:text="${t.category}"></span>
        </li>
    </ul>
</div>

<div style="margin-top: 50px " class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" href="form" role="button">Dodaj użytkownika</a>
</div>

<div style="text-align: center; margin-top: 10px">
    <h4>Lista zadań</h4>
    <a href="/ready">do wykonania</a><br>
    <a href="/done">archiwum</a>
</div>

</body>
</html>